body{
    background-color: #FFE4DB;
    font-family: 'Volkhov', serif;
}
.full-container{
    width: 90%;
    margin:25px auto;
    padding: 18px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 5px #dad9d9;
}
/* Header Design */
.header-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.nav-menu ul{
    display: flex;
}
.nav-menu ul li{
    list-style: none;
}
.nav-menu ul li a{
    text-decoration: none;
    color: black;
    padding: 5px 18px;
    margin: 0 3px;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}
.nav-menu ul li a:hover{
    background-color: teal;
    color: white;
}

/* Main Content */
.main-content{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr) 35px;
    align-items: center;
    justify-content: center;
}
.content-info h1{
    font-size: 3.5em;
    color: orangered;
}
.content-photo{
    transition: transform 0.3s ease-in-out;
}
.content-photo:hover{
    transform: scale(0.8);
}
.content-icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.content-icon .fab{
    font-size: 2em;
    color: teal;
    margin: 3px 0;
    transition: color 0.3s ease-in-out;
    cursor: pointer;
}
.content-icon .fab:hover{
    color: crimson;
}
.btn-buy{
    background-color: crimson;
    color: white;
    border: none;
    padding: 8px 18px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}
.btn-buy:hover{
    background-color: teal;
}
.btn-more{
    background-color: teal;
    color: white;
    border: none;
    padding: 8px 18px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}
.btn-more:hover{
    background-color: crimson;
}

/* Footer Design */
footer{
    text-align: center;
    color: gray;
}